html, body {
	margin: 0;
	padding: 0;
	background: #F5F6F9;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	width: 100%;
	height: 100%;
	display: flex;
	font-family: "Roboto", sans-serif;
	color: #5e6773;
	overflow: hidden;
}

a {
	text-decoration: none !important;
	color: #00aaff;
}

ul {
  list-style: none !important;
}


#wrapper {
	height: 100%;
	width: 100%;
}

.body-content{
	width: 100%;
	height: 100%;
	display: flex;
}

.main-content {
	width: 100%;
    height: 100%;
    background: #F5F6F9;
    overflow: auto;
    padding: 0 10px 28px 10px;
    margin: 0;
    background-color: #F5F6F9;
}

.content-heading {
    margin: 0 -10px 30px -10px;
    padding: 20px 25px;
    border-bottom: 1px solid #e3e3e3;
    background-color: #fff;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.content-heading .heading-left {
    float: left;
    font-size: 18px;
    color: #878787;
}

.content-heading .page-title {
    margin: 0 0 3px 0;
    font-size: 18px;
    font-weight: normal;
}
.content-heading .page-subtitle {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
    color: #a0aeba;
}

.content-heading .heading-right {
    float: right;
    margin-bottom: 0;
    padding: 12px 0;
}


.content-heading, .heading-right a{
	color: #00aaff;
    text-decoration:none;
}

.content-heading, .heading-right a i {
    font-size: 15px;
    margin-right: 3px;
    color: #a0aeba;
    color: #878787;
}

.panel {
    border-radius: 3px;
    box-shadow: none;
    margin-bottom: 30px;
    border: 1px solid #d1d6e6;
    background: #fff;
}

.panel.panel-headline .panel-heading {
    border-bottom: none;
    background-color: transparent;
}

.panel .panel-heading {
    padding: 12px 20px;
    position: relative;
    line-height: 1;
}

.panel.panel-headline .panel-heading .panel-title {
    font-size: 18px;
}
.panel .panel-heading .panel-title {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    font-weight: 500;
    color: #717d84;
}

.panel .panel-heading .panel-subtitle {
    margin-top: 8px;
    margin-bottom: 0;
    font-size: 13px;
    color: #a0aeba;
}

.panel .panel-body {
    padding: 30px 20px;
    position: relative;
}

.control-label {
    color: #a0aeba;
    font-size:18px;
    font-weight: normal;
}

.form-control{
	box-shadow: none;
    border-radius: 5px;
    border-color:red;
    background-color: #fcfcfc;
    color: #5e6773;
}

.input-group.date .input-group-addon {
    cursor: pointer;
}

.help-block {
    color: #a0aeba;
    font-size: 13px;
}

.hideShowPassword-toggle {
    margin-right: 5px;
    border: none;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 19px;
    background: #f1f2f5;
    color: #b6bbcb;
    outline: none;
}

.table > thead > tr {
    font-size: 15px;
    background-color: #fff;
    color: #a1a7af;
}

th {
    font-weight: normal;
}

.boxes {
    border-radius: 3px;
    padding: 20px 25px;
    margin-bottom: 30px;
    border: 1px solid #d1d6e6;
    background: #fff;
}

.box_1 .icon-wrapper {
    border-radius: 50%;
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
    float: left;
    text-align: center;
    color: #fff;
    overflow: hidden;
}

.box_1 .icon-wrapper i {
    font-size: 17px;
    line-height: 50px;
}

.box_1 .right {
    padding-left: 65px;
}

.box_1 .title {
    display: block;
    font-size: 12px;
    color: #a0aeba;
}

.box_1 .value {
    margin-right: 5px;
    font-size: 24px;
    font-weight: 300;
}

.custom-bg-green2 {
    background-color: #1DBB8E !important;
}

.custom-bg-blue {
    background-color: #0E9BE2 !important;
}

.custom-bg-red {
    background-color: #ff4402 !important;
}

.custom-bg-yellow {
    background-color: #F3BB23 !important;
}

.panel {
    border-radius: 3px;
    box-shadow: none;
    margin-bottom: 30px;
    border: 1px solid #d1d6e6;
    background: #fff;
}

.panel .panel-heading {
    padding-top: 12px;
    padding-bottom: 12px;
    position: relative;
    line-height: 1;
    border-bottom: 1px solid #eaeff2;
    background-color: #f8f9fa;
}

.panel .panel-heading .panel-title {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    color: #717d84;
}

.panel .panel-heading .right {
    float: right;
    height: 25px;
}

.panel .panel-heading .link a {
    color: #a0aeba;
    font-size: 12px;
}

.panel .panel-heading, .panel .panel-body{
    padding-left: 20px;
    padding-right: 20px;
}

.panel .panel-body {
    position: relative;
}

.panel .panel-body:hover {
	scrollbar-width: thin !important;
  overflow-y : scroll !important;
}

/*Custom thin scrollbar*/
::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: rgba(160,174,186,0.4);
}

::-webkit-scrollbar
{
  width: 7px !important;
  background-color: rgba(160,174,186,0.4);
}

::-webkit-scrollbar-thumb
{
  background-color: rgba(160,174,186,0.4);
}



.no-padding {
    padding: 0 !important;
}

.list-positions {
    margin: 0;
}

.list-positions .position {
    padding: 18px;
}

.list-positions .position .user {
    float: left;
    position: relative;
}

.list-positions .position.up .account .user-picture {
    border-color: #53c265;
}

.list-positions .position .user-picture {
    border-radius: 50%;
    width: 55px;
    height: 55px;
    border: 2px solid transparent;
}

.list-positions .position .account .right {
    padding: 10px 3px 10px 75px;
    height: 55px;
}

.list-positions .position .account .name {
    display: block;
    line-height: 1;
    color: #5e6773;
}

.list-positions .position .account .username {
    font-size: 13px;
    color: #a0aeba;
}


 @media only screen and (max-width: 600px) {
  .main-content {
  width:100%;
  	overflow: auto;
  }
} 