.img-circle {
    border-radius: 50%;
}

.containerr{
	display:flex; 
	margin-top:30px;
	align-items:center; 
	justify-content:center
}

body {
    background-color: #F5F6F9;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #5e6773;
}

img {
    vertical-align: middle;
}


.lead {
    margin-top: 5px;
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 300;
    line-height: 1.4;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.form-group {
    margin-bottom: 15px;
}

.btn{
	margin-top:15px;
}


/*  .right {
 
background-image: url("F:\UserManagement\UserManagementSystem\WebContent\img\login-bg.jpg");
 margin:0;
 padding:0; 
    background: rgba(99, 156, 185, 0.92);
}  */