
html, body {
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	color: #5e6773;
	margin: 0px;
	padding: 0px;
	background-color: #F5F6F9;
	overflow: hidden;	
}

a {
	text-decoration: none;
}

.sidebar {
	color: #d6e1f1;
    background-color: #2B333E;
    height: 100vh;
    width: 20%;   
    padding: 10px; 
    transition:0.5s;
}



.sidebar a {
    color: #d6e1f1;
    padding: 24px 24px;
    font-family: sans-serif;
    padding-top: 10px;
    display: block;
    box-sizing: border-box;
}

.sidebar a, .sidebar .menu-btn {
    padding: 15px 15px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #d6e1f1;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
	margin-bottom: 5px;
}
.sidebar a:hover,.sidebar .menu-btn:hover {
       color: #d6e1f1;
}

.sub-menu {
    margin-left: 10px;
    font-size: 10px;
    font-weight: lighter;
    display: none;
    padding: 5px 2px;

}


.sidebar a {
	text-decoration: none;
	color: #d6e1f1;
}

.sidebar i {
	margin-right: 8px;
	font-size: 17px;	
}


.ti-angle-left {
	float: right;
} 

.label {
	font-size:12px;
	border-radius: .25em;
	color: #fff;
	top: 0;
    float: right;
    padding: 3px 7px;
}

.label-success {
	background-color: #41B314;
}

.toggle {
	text-align: center;
}

.icon-submenu {
    font-size: 10px;
    color: #a0aeba;
}

@media only screen and (max-width: 600px) {
  .sidebar {
  	width: 350px;
  }
}
