html, body {
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	color: #5e6773;
	margin: 0px;
	padding: 0px;
	background-color: #F5F6F9;
	overflow: hidden;	
}

a {
	text-decoration: none;
}

.navbar{
	display:flex;
	flex-direction:coloumn;
	justify-content:space-between;
	align-items: center;
	background: linear-gradient(to right, #1f6ad0 0%, #13b9de 100%);
	color: #ffffff;
	height: 60px;
	width:100%;
	padding: 0 20px;
}

.left-area {
	display:flex;
	flex-direction:coloumn;
	margin: 0px 10px;
}

.custom-font {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: normal;
    font-size: 18px;
    color: white;
}

.left-area i {
	font-size: 20px;
    padding: 0 20px;
    line-height: 1;
    vertical-align: middle;
    border: none;
    background: none;
    outline: none;
    color: #fff;
    cursor: pointer;
}

.arrow-circle {
	margin-left: 18px;
	border: none;
	outline: none;
	float: right;
}

.right-area {
	display:flex;
	flex-direction:coloumn;
	margin: 0 30px;
	cursor: pointer;	
}

.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  outline: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #FFFFFF;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
}

.dropbtn img {
	width: 24px;
    margin-right: 2px;
    border: 1px solid #fff;
}

.profile {
	color:#5e6773;
	background-color: #fafbfc;
	display: flex;
	flex-direction:coloumn;
}

.logout {
	color:#5e6773;
	background-color: #fafbfc;
	display: flex;
	flex-direction:coloumn;
}

